---
name: C/C++ CI

on:
  push:
    branches: [master actions]
    paths:
      - 'src/**'
      - 'include/**'
      - '.github/**'
      - 'tests/**'
      - configure.ac
      - Makefile.am

  pull_request:
    branches: [master]

jobs:
  notification:
    runs-on: ubuntu-latest
    name: Notify start to IRC gitlama
    steps:
      - name: IRC notification
        uses: LanguageMachines/ticcactions/irc-init@v1
        with:
          module: ucto

  build:
    runs-on: ${{ matrix.os }}
    needs: notification
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler: [g++-12, clang++]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}
      - name: exclude Mac-OS with g++
        shell: bash
        if: ${{ matrix.os == 'macos-latest' && matrix.compiler == 'g++-12' }}
        run: |
          echo "action_status=skip" >> $GITHUB_ENV
          echo "action_details='c++ library issues'" >> $GITHUB_ENV

      - uses: actions/checkout@v4.1.1
      - uses: LanguageMachines/ticcactions/cpp-build-env@v1
      - uses: LanguageMachines/ticcactions/cpp-dependencies@v1
      - uses: LanguageMachines/ticcactions/setup-cppcheck@v1
      - uses: LanguageMachines/ticcactions/irc-nick@v1

      - uses: LanguageMachines/ticcactions/cpp-submodule-build@v1
        with:
          module: ticcutils

      - uses: LanguageMachines/ticcactions/cpp-submodule-build@v1
        with:
          module: libfolia

      - uses: LanguageMachines/ticcactions/cpp-submodule-build@v1
        with:
          module: uctodata

      - name: install libexttextcat on MacOS
        env:
          CXX: ${{ matrix.compiler }}
        run: |
          if [ "$RUNNER_OS" != "Linux" ]; then
            git clone https://github.com/LibreOffice/libexttextcat/
            cd libexttextcat
            sh autogen.sh
            ./configure
            make
            sudo make install
            cd ..
          fi

      - name: Static Code-check
        if: ${{ env.action_status == '' }}
        run: cppcheck ${{ env.cpc_opts }} .

      - uses: LanguageMachines/ticcactions/cpp-safe-build@v1

      - name: Notify IRC of build results
        uses: LanguageMachines/ticcactions/irc-status@v1
        with:
          module: ucto
          branch: ${{ github.ref_name }}
          nickname: ${{ env.nick }}
          status: ${{ env.action_status }}
          details: ${{ env.action_details }}
        continue-on-error: true

      - name: run uctotests
        env:
          EXPECT: 0
          LD_LIBRARY_PATH: $LD_LIBRARY_PATH:/usr/local/lib
        run: |
          cd tests
          ./testaction.sh
          TEST_STAT=$(cat status.tmp)
          echo "action_details=$TEST_STAT errors" >> $GITHUB_ENV
        continue-on-error: true
      - name: Notify IRC of results
        uses: LanguageMachines/ticcactions/irc-status@v1
        with:
          module: ucto
          branch: ${{ github.ref_name }}
          nickname: ${{ env.nick }}
          step: testing
          status: ${{ env.action_status }}
          details: ${{ env.action_details }}
